
# Entorno Virtual de Python

venv/
env/


# Archivos compilados de Python

__pycache__/
*.pyc
*.pyo
*.pyd


# Archivos del sistema macOS

.DS_Store
.AppleDouble
.LSOverride
Icon


# Entornos de Desarrollo / Editores

.vscode/
.idea/
*.swp

# Rust
target/
# Otros

# Ignorar archivos de variables de entorno si llegas a usar uno
.env